<br/><br/><br/><br/>
<!--<%= link_to('Roar', 'javascript:;', :onclick => "jsRoar('Javascript'); return true;") %>-->
<!--<%= javascript_tag('jsRoar(Rails);') %>-->

<!--<%= link_to('Food with parameters', {:action => "israel", :page => 5, :id => 20} ) %>-->

<div class="greyshape" id="grey1">
</div>
	<div id = "foodBox1" class="foods"><%= link_to(image_tag("palestinesvgblack.svg", size: "600x600"), :action => 'palestine') %>
	</div>

<div class="greyshape" id="grey2">
</div>
	<div id = "foodBox2" class="foods"><%= link_to(image_tag("israelsvgcyan.svg", size: "600x600"), :action => 'israel') %>
	</div>
