
<link rel="stylesheet prefetch" href="http://photoswipe.s3.amazonaws.com/pswp/dist/photoswipe.css"><link rel="stylesheet prefetch" href="http://photoswipe.s3.amazonaws.com/pswp/dist/default-skin/default-skin.css">
<div width="70%" style="background-color:#91E6DF;height:90px;border: 2px solid;border-radius: 25px;text-align:center;">
<h1><%= params[:id] %></h1>
</div>
<div class="container" style="text-align:center">
<div style="width:40%;position:relative;display: inline-block;text-align: left;margin-top:50px">
    <h2>#IsraeliFood</h2>

      <div data-pswp-uid="1" class="my-gallery" itemscope="" itemtype="http://schema.org/ImageGallery">
        <% @israel_photos.each do |photo| %>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <a href="<%= photo %>" itemprop="contentUrl" data-size="964x1024">
              <img src="<%= photo %>" itemprop="thumbnail" alt="Image description">
          </a>
          <figcaption itemprop="caption description"><a href="http://immigrantstable.com/2014/04/14/kneidlach-matzo-balls/"><h1 style="text-align:center;">Get recipe</h1></a></figcaption>
        </figure>
        <% end %>

      </div>
</div>
<div style="width:40%;position:relative;display: inline-block;text-align: left;">

    <h2>#ArabicFood</h2>

      <div data-pswp-uid="2" class="my-gallery" itemscope="" itemtype="http://schema.org/ImageGallery">

        <% @palestine_photos.each do |photo| %>
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <a href="<%= photo %>" itemprop="contentUrl" data-size="964x1024">
              <img src="<%= photo %>" itemprop="thumbnail" alt="Image description">
          </a>
          <figcaption itemprop="caption description">Image caption 2</figcaption>
        </figure>
        <% end %>


      </div>

      </div>

    <%= render "shared/photoswipe" %>
    <script src="//assets.codepen.io/assets/common/stopExecutionOnTimeout.js?t=1"></script><script src="http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe.min.js"></script><script src="http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe-ui-default.min.js"></script>
    <%= javascript_include_tag'photoswipe_foods', 'data-turbolinks-track' => true %>
    <script src="//codepen.io/assets/editor/live/css_live_reload_init.js"></script>
    </div>