	<div id="row1">
		<div><%= link_to(image_tag("music.png", size: "200x200"), :controller => "music", :id => "Music")  %></div>
		<div><%= link_to(image_tag("food.png", size: "200x200"), :controller => "food" ,:id => "Food") %></div>
		<div><%= link_to(image_tag("travel.png", size: "200x200"), :id => "travel") %></div>
		<div><%= link_to(image_tag("booksandpoetry.png", size: "200x200"), :id => "booksandpoetry") %></div>
	<div id="row2">
		<div><%= link_to(image_tag("art.png", size: "200x200"), :id => "art") %>
		</div>
		<div><%= link_to(image_tag("booksandpoetry1.png", size: "200x200"), :id => "booksandpoetry1") %> </div>
		<div></div>
		<div></div>
	</div>
