	<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">


    <!-- Header -->
    <header>
        <div class="container" style="margin-top: -60px;">
                <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Side Guide</span>
                        <hr>
                        <%= image_tag("palestine.png", size: "160x70", style: "display:inline-block;padding-right:30px;") %>
                        <%= image_tag("israel.jpg", size: "160x70", style: "display:inline-block;padding-left:30px;") %>
                        <br>
                        <span class="skills">Discover daily life of the other culture through stories, visualizations and animated media.</span>
                        <span class="page-scroll">
	                        <a href="#moshes-day">
	                       		<div class="btn btn-lg btn-outline" style="margin-top:50px">
	                       			<%= image_tag("http://static4.businessinsider.com/image/4feb162becad049b7c00000a/this-man-thinks-hes-spotted-the-crucial-weakness-in-googles-mobile-ad-strategy.jpg", size: "70x50", style: "margin:auto;display: inherit;") %>Show moshes story
	                       		</div>
	                       	</a>
	                       	<a href="#ahmeds-day">
	                       		<div class="btn btn-lg btn-outline" style="margin-top:50px">
	                       			<%= image_tag("https://pixabay.com/static/uploads/photo/2015/02/08/20/57/man-629062_640.jpg", size: "70x50", style: "margin:auto;display: inherit;") %>Show ahmeds story
	                       		</div>
	                        </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
 <section id="moshes-day">
    <div class="container">
    <div class="page-header">
        <h1 id="timeline">moshe</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-cutlery"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ron made flafel</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 8 A.M.</small></p>
            </div>
            <div class="timeline-body">
            <div class="row">
            	<span class="col-md-6">
            		<%= image_tag "https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11326589_878279685587868_1119276702_n.jpg", size: "200x200" %>
            	</span>
            	<span class="col-md-6" style="margin-top: -77px;">
            		<h4> Recipe </h4>
            		<div style="overflow-y: scroll;height: 230px;">
            		<% str = "INGREDIENTS

1 cup dried chickpeas
1/2 large onion, roughly chopped (about 1 cup)
2 tablespoons finely chopped fresh parsley
2 tablespoons finely chopped fresh cilantro
1 teaspoon salt
1/2-1 teaspoon dried hot red pepper
4 cloves of garlic
1 teaspoon cumin
1 teaspoon baking powder
4-6 tablespoons flour
Soybean or vegetable oil for frying
Chopped tomato for garnish
Diced onion for garnish
Diced green bell pepper for garnish
Tahina sauce
Pita bread
PREPARATION

1. Put the chickpeas in a large bowl and add enough cold water to cover them by at least 2 inches. Let soak overnight, then drain. Or use canned chickpeas, drained.

2. Place the drained, uncooked chickpeas and the onions in the bowl of a food processor fitted with a steel blade. Add the parsley, cilantro, salt, hot pepper, garlic, and cumin. Process until blended but not pureed.

3. Sprinkle in the baking powder and 4 tablespoons of the flour, and pulse. You want to add enough bulgur or flour so that the dough forms a small ball and no longer sticks to your hands. Turn into a bowl and refrigerate, covered, for several hours.

4. Form the chickpea mixture into balls about the size of walnuts, or use a falafel scoop, available in Middle-Eastern markets.

5. Heat 3 inches of oil to 375 degrees in a deep pot or wok and fry 1 ball to test. If it falls apart, add a little flour. Then fry about 6 balls at once for a few minutes on each side, or until golden brown. Drain on paper towels. Stuff half a pita with falafel balls, chopped tomatoes, onion, green pepper, and pickled turnips. Drizzle with tahina thinned with water.

NOTE: Egyptians omit the cilantro and substitute fava beans for the chickpeas."
str.gsub!("\n", "<br>") %>
<%= raw(str.html_safe) %>
            		</div>
            	</span>
            </div>
            </div>
            <div class="row">
            	<a href="food">
	            	<div style="text-align: center;  margin-top: 20px;">
	            	<%= image_tag("food.png", size: "50x50") %>Show more foods
	            	</div>
            	</a>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ron listened to a song</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 A.M.</small></p>

            </div>
            <div class="timeline-body">
<iframe width="420" height="315" src="https://www.youtube.com/embed/LJ_7J5RTHMY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
            	<a href="music">
	            	<div style="text-align: center;  margin-top: 20px;">
	            		<%= image_tag("music.png", size: "50x50") %>Show more songs
	            	</div>
            	</a>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ron shared a story</h4>              
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 P.M</small></p>

            </div>
            <div class="timeline-body">
            	<iframe width="420" height="315" src="https://www.youtube.com/embed/Hesb4dIc7Ag" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
            	<a href="music">
	            	<div style="text-align: center;  margin-top: 20px;">
	            		<%= image_tag("music.png", size: "50x50") %>Show more stories
	            	</div>
            	</a>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ron listened to a song</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 A.M.</small></p>

            </div>
            <div class="timeline-body">
<iframe width="420" height="315" src="https://www.youtube.com/embed/6UltSHD_BbM" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
            	<a href="music">
	            	<div style="text-align: center;  margin-top: 20px;">
	            		<%= image_tag("music.png", size: "50x50") %>Show more songs
	            	</div>
            	</a>
            </div>
          </div>
        </li>
    </ul>
</div>
</section>




<section id="ahmeds-day">
    <div class="container">
    <div class="page-header">
        <h1 id="timeline">Ahmed</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-cutlery"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ron made flafel</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 8 A.M.</small></p>
            </div>
            <div class="timeline-body">
            <div class="row">
            	<span class="col-md-6">
            		<%= image_tag "https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11326589_878279685587868_1119276702_n.jpg", size: "200x200" %>
            	</span>
            	<span class="col-md-6" style="margin-top: -77px;">
            		<h4> Recipe </h4>
            		<div style="overflow-y: scroll;height: 230px;">
            		<% str = "INGREDIENTS

1 cup dried chickpeas
1/2 large onion, roughly chopped (about 1 cup)
2 tablespoons finely chopped fresh parsley
2 tablespoons finely chopped fresh cilantro
1 teaspoon salt
1/2-1 teaspoon dried hot red pepper
4 cloves of garlic
1 teaspoon cumin
1 teaspoon baking powder
4-6 tablespoons flour
Soybean or vegetable oil for frying
Chopped tomato for garnish
Diced onion for garnish
Diced green bell pepper for garnish
Tahina sauce
Pita bread
PREPARATION

1. Put the chickpeas in a large bowl and add enough cold water to cover them by at least 2 inches. Let soak overnight, then drain. Or use canned chickpeas, drained.

2. Place the drained, uncooked chickpeas and the onions in the bowl of a food processor fitted with a steel blade. Add the parsley, cilantro, salt, hot pepper, garlic, and cumin. Process until blended but not pureed.

3. Sprinkle in the baking powder and 4 tablespoons of the flour, and pulse. You want to add enough bulgur or flour so that the dough forms a small ball and no longer sticks to your hands. Turn into a bowl and refrigerate, covered, for several hours.

4. Form the chickpea mixture into balls about the size of walnuts, or use a falafel scoop, available in Middle-Eastern markets.

5. Heat 3 inches of oil to 375 degrees in a deep pot or wok and fry 1 ball to test. If it falls apart, add a little flour. Then fry about 6 balls at once for a few minutes on each side, or until golden brown. Drain on paper towels. Stuff half a pita with falafel balls, chopped tomatoes, onion, green pepper, and pickled turnips. Drizzle with tahina thinned with water.

NOTE: Egyptians omit the cilantro and substitute fava beans for the chickpeas."
str.gsub!("\n", "<br>") %>
<%= raw(str.html_safe) %>
            		</div>
            	</span>
            </div>
            </div>
            <div class="row">
            	<a href="food">
	            	<div style="text-align: center;  margin-top: 20px;">
	            	<%= image_tag("food.png", size: "50x50") %>Show more foods
	            	</div>
            	</a>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ron listened to a song</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 A.M.</small></p>

            </div>
            <div class="timeline-body">
<iframe width="420" height="315" src="https://www.youtube.com/embed/LJ_7J5RTHMY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
            	<a href="music">
	            	<div style="text-align: center;  margin-top: 20px;">
	            		<%= image_tag("music.png", size: "50x50") %>Show more songs
	            	</div>
            	</a>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ron shared a story</h4>              
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 P.M</small></p>

            </div>
            <div class="timeline-body">
            	<iframe width="420" height="315" src="https://www.youtube.com/embed/Hesb4dIc7Ag" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
            	<a href="music">
	            	<div style="text-align: center;  margin-top: 20px;">
	            		<%= image_tag("music.png", size: "50x50") %>Show more stories
	            	</div>
            	</a>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-music"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ron listened to a song</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 A.M.</small></p>

            </div>
            <div class="timeline-body">
<iframe width="420" height="315" src="https://www.youtube.com/embed/6UltSHD_BbM" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
            	<a href="music">
	            	<div style="text-align: center;  margin-top: 20px;">
	            		<%= image_tag("music.png", size: "50x50") %>Show more songs
	            	</div>
            	</a>
            </div>
          </div>
        </li>
    </ul>
</div>
</section>




    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login modal -->

  </div>
  </div>
  <div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content Login_modal" >


       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="heading-desc" style="color:black;text-align:center;">Login to Side Guide</h2>
        </div>
        <div class="modal-body">
        <form class="form-signin mg-btm">

        <div class="social-box">
          <div class="row mg-btm">
                 <div class="col-md-12">
                    <a href="" class="btn btn-primary btn-block">
                      <i class="icon-facebook"></i>    Login with Facebook
                    </a>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
                    <a href="#" class="btn btn-danger btn-block" >
                      <i class="icon-twitter"></i>    Login with Google
                    </a>
                </div>
              </div>
        </div>

      </form>
    </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>


       <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
        </div>-->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal Login-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

</html>
